<html ng-app="sodokuApp">
<head>
    <title>Sodoku</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <script src="SodokuController.js"></script>
</head>
<body bgcolor="#F9F9FF" ng-controller="sodokuCtrl">
    <link href="Styles.css" type="text/css" rel="stylesheet">

    <p>Nothing here {{name}}</p>

    <div style="width: 412px; height: 478px; float: left;margin-left: 10px">
        <table border="0" width="412" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td valign="top">
                        <table class="sudokumaintable" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr ng-repeat="verticalBand in grid">
                                    <td class="sudokumaintd" ng-repeat="horizontalBand in verticalBand">
                                        <table class="sudokublock">
                                            <tbody>
                                                <tr ng-repeat="line in horizontalBand">
                                                    <td ng-repeat="cell in line" class="sudokucell">
                                                        <div class="pen" onclick=""></div>
                                                        <input class="sudokuinput entryCell" type="text" ng-model="cell.Value" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button ng-click="solve()">Solve!</button>
</body>
</html>