@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="t" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td class="g0" id="c00"><input class="d0" size="2" autocomplete="off" name="byzwy11" maxlength="1" onblur="j8(this)" id="f00"></td>
            <td class="f0" id="c10"><input class="s0" size="2" autocomplete="off" name="sbyzwy21" readonly="" value="2" id="f10"></td>
            <td class="f0" id="c20"><input class="s0" size="2" autocomplete="off" name="sbyzwy31" readonly="" value="3" id="f20"></td>
            <td class="g0" id="c30"><input class="d0" size="2" autocomplete="off" name="byzwy41" maxlength="1" onblur="j8(this)" id="f30"></td>
            <td class="f0" id="c40"><input class="s0" size="2" autocomplete="off" name="sbyzwy51" readonly="" value="9" id="f40"></td>
            <td class="f0" id="c50"><input class="s0" size="2" autocomplete="off" name="sbyzwy61" readonly="" value="1" id="f50"></td>
            <td class="g0" id="c60"><input class="s0" size="2" autocomplete="off" name="sbyzwy71" readonly="" value="4" id="f60"></td>
            <td class="f0" id="c70"><input class="s0" size="2" autocomplete="off" name="sbyzwy81" readonly="" value="6" id="f70"></td>
            <td class="f0" id="c80"><input class="s0" size="2" autocomplete="off" name="sbyzwy91" readonly="" value="7" id="f80"></td>
        </tr>
        <tr>
            <td class="e0" id="c01"><input class="d0" size="2" autocomplete="off" name="byzwy12" maxlength="1" onblur="j8(this)" id="f01"></td>
            <td class="c0" id="c11"><input class="s0" size="2" autocomplete="off" name="sbyzwy22" readonly="" value="4" id="f11"></td>
            <td class="c0" id="c21"><input class="d0" size="2" autocomplete="off" name="byzwy32" maxlength="1" onblur="j8(this)" id="f21"></td>
            <td class="e0" id="c31"><input class="d0" size="2" autocomplete="off" name="byzwy42" maxlength="1" onblur="j8(this)" id="f31"></td>
            <td class="c0" id="c41"><input class="s0" size="2" autocomplete="off" name="sbyzwy52" readonly="" value="7" id="f41"></td>
            <td class="c0" id="c51"><input class="d0" size="2" autocomplete="off" name="byzwy62" maxlength="1" onblur="j8(this)" id="f51"></td>
            <td class="e0" id="c61"><input class="d0" size="2" autocomplete="off" name="byzwy72" maxlength="1" onblur="j8(this)" id="f61"></td>
            <td class="c0" id="c71"><input class="d0" size="2" autocomplete="off" name="byzwy82" maxlength="1" onblur="j8(this)" id="f71"></td>
            <td class="c0" id="c81"><input class="d0" size="2" autocomplete="off" name="byzwy92" maxlength="1" onblur="j8(this)" id="f81"></td>
        </tr>
        <tr>
            <td class="e0" id="c02"><input class="s0" size="2" autocomplete="off" name="sbyzwy13" readonly="" value="7" id="f02"></td>
            <td class="c0" id="c12"><input class="d0" size="2" autocomplete="off" name="byzwy23" maxlength="1" onblur="j8(this)" id="f12"></td>
            <td class="c0" id="c22"><input class="s0" size="2" autocomplete="off" name="sbyzwy33" readonly="" value="6" id="f22"></td>
            <td class="e0" id="c32"><input class="d0" size="2" autocomplete="off" name="byzwy43" maxlength="1" onblur="j8(this)" id="f32"></td>
            <td class="c0" id="c42"><input class="d0" size="2" autocomplete="off" name="byzwy53" maxlength="1" onblur="j8(this)" id="f42"></td>
            <td class="c0" id="c52"><input class="s0" size="2" autocomplete="off" name="sbyzwy63" readonly="" value="5" id="f52"></td>
            <td class="e0" id="c62"><input class="s0" size="2" autocomplete="off" name="sbyzwy73" readonly="" value="1" id="f62"></td>
            <td class="c0" id="c72"><input class="d0" size="2" autocomplete="off" name="byzwy83" maxlength="1" onblur="j8(this)" id="f72"></td>
            <td class="c0" id="c82"><input class="s0" size="2" autocomplete="off" name="sbyzwy93" readonly="" value="9" id="f82"></td>
        </tr>
        <tr>
            <td class="g0" id="c03"><input class="s0" size="2" autocomplete="off" name="sbyzwy14" readonly="" value="9" id="f03"></td>
            <td class="f0" id="c13"><input class="d0" size="2" autocomplete="off" name="byzwy24" maxlength="1" onblur="j8(this)" id="f13"></td>
            <td class="f0" id="c23"><input class="d0" size="2" autocomplete="off" name="byzwy34" maxlength="1" onblur="j8(this)" id="f23"></td>
            <td class="g0" id="c33"><input class="d0" size="2" autocomplete="off" name="byzwy44" maxlength="1" onblur="j8(this)" id="f33"></td>
            <td class="f0" id="c43"><input class="s0" size="2" autocomplete="off" name="sbyzwy54" readonly="" value="3" id="f43"></td>
            <td class="f0" id="c53"><input class="d0" size="2" autocomplete="off" name="byzwy64" maxlength="1" onblur="j8(this)" id="f53"></td>
            <td class="g0" id="c63"><input class="d0" size="2" autocomplete="off" name="byzwy74" maxlength="1" onblur="j8(this)" id="f63"></td>
            <td class="f0" id="c73"><input class="d0" size="2" autocomplete="off" name="byzwy84" maxlength="1" onblur="j8(this)" id="f73"></td>
            <td class="f0" id="c83"><input class="d0" size="2" autocomplete="off" name="byzwy94" maxlength="1" onblur="j8(this)" id="f83"></td>
        </tr>
        <tr>
            <td class="e0" id="c04"><input class="d0" size="2" autocomplete="off" name="byzwy15" maxlength="1" onblur="j8(this)" id="f04"></td>
            <td class="c0" id="c14"><input class="s0" size="2" autocomplete="off" name="sbyzwy25" readonly="" value="7" id="f14"></td>
            <td class="c0" id="c24"><input class="d0" size="2" autocomplete="off" name="byzwy35" maxlength="1" onblur="j8(this)" id="f24"></td>
            <td class="e0" id="c34"><input class="s0" size="2" autocomplete="off" name="sbyzwy45" readonly="" value="4" id="f34"></td>
            <td class="c0" id="c44"><input class="d0" size="2" autocomplete="off" name="byzwy55" maxlength="1" onblur="j8(this)" id="f44"></td>
            <td class="c0" id="c54"><input class="s0" size="2" autocomplete="off" name="sbyzwy65" readonly="" value="9" id="f54"></td>
            <td class="e0" id="c64"><input class="d0" size="2" autocomplete="off" name="byzwy75" maxlength="1" onblur="j8(this)" id="f64"></td>
            <td class="c0" id="c74"><input class="s0" size="2" autocomplete="off" name="sbyzwy85" readonly="" value="2" id="f74"></td>
            <td class="c0" id="c84"><input class="d0" size="2" autocomplete="off" name="byzwy95" maxlength="1" onblur="j8(this)" id="f84"></td>
        </tr>
        <tr>
            <td class="e0" id="c05"><input class="d0" size="2" autocomplete="off" name="byzwy16" maxlength="1" onblur="j8(this)" id="f05"></td>
            <td class="c0" id="c15"><input class="d0" size="2" autocomplete="off" name="byzwy26" maxlength="1" onblur="j8(this)" id="f15"></td>
            <td class="c0" id="c25"><input class="d0" size="2" autocomplete="off" name="byzwy36" maxlength="1" onblur="j8(this)" id="f25"></td>
            <td class="e0" id="c35"><input class="d0" size="2" autocomplete="off" name="byzwy46" maxlength="1" onblur="j8(this)" id="f35"></td>
            <td class="c0" id="c45"><input class="s0" size="2" autocomplete="off" name="sbyzwy56" readonly="" value="8" id="f45"></td>
            <td class="c0" id="c55"><input class="d0" size="2" autocomplete="off" name="byzwy66" maxlength="1" onblur="j8(this)" id="f55"></td>
            <td class="e0" id="c65"><input class="d0" size="2" autocomplete="off" name="byzwy76" maxlength="1" onblur="j8(this)" id="f65"></td>
            <td class="c0" id="c75"><input class="d0" size="2" autocomplete="off" name="byzwy86" maxlength="1" onblur="j8(this)" id="f75"></td>
            <td class="c0" id="c85"><input class="s0" size="2" autocomplete="off" name="sbyzwy96" readonly="" value="4" id="f85"></td>
        </tr>
        <tr>
            <td class="g0" id="c06"><input class="s0" size="2" autocomplete="off" name="sbyzwy17" readonly="" value="3" id="f06"></td>
            <td class="f0" id="c16"><input class="d0" size="2" autocomplete="off" name="byzwy27" maxlength="1" onblur="j8(this)" id="f16"></td>
            <td class="f0" id="c26"><input class="s0" size="2" autocomplete="off" name="sbyzwy37" readonly="" value="7" id="f26"></td>
            <td class="g0" id="c36"><input class="s0" size="2" autocomplete="off" name="sbyzwy47" readonly="" value="1" id="f36"></td>
            <td class="f0" id="c46"><input class="d0" size="2" autocomplete="off" name="byzwy57" maxlength="1" onblur="j8(this)" id="f46"></td>
            <td class="f0" id="c56"><input class="d0" size="2" autocomplete="off" name="byzwy67" maxlength="1" onblur="j8(this)" id="f56"></td>
            <td class="g0" id="c66"><input class="s0" size="2" autocomplete="off" name="sbyzwy77" readonly="" value="5" id="f66"></td>
            <td class="f0" id="c76"><input class="d0" size="2" autocomplete="off" name="byzwy87" maxlength="1" onblur="j8(this)" id="f76"></td>
            <td class="f0" id="c86"><input class="s0" size="2" autocomplete="off" name="sbyzwy97" readonly="" value="6" id="f86"></td>
        </tr>
        <tr>
            <td class="e0" id="c07"><input class="d0" size="2" autocomplete="off" name="byzwy18" maxlength="1" onblur="j8(this)" id="f07"></td>
            <td class="c0" id="c17"><input class="d0" size="2" autocomplete="off" name="byzwy28" maxlength="1" onblur="j8(this)" id="f17"></td>
            <td class="c0" id="c27"><input class="d0" size="2" autocomplete="off" name="byzwy38" maxlength="1" onblur="j8(this)" id="f27"></td>
            <td class="e0" id="c37"><input class="d0" size="2" autocomplete="off" name="byzwy48" maxlength="1" onblur="j8(this)" id="f37"></td>
            <td class="c0" id="c47"><input class="s0" size="2" autocomplete="off" name="sbyzwy58" readonly="" value="5" id="f47"></td>
            <td class="c0" id="c57"><input class="d0" size="2" autocomplete="off" name="byzwy68" maxlength="1" onblur="j8(this)" id="f57"></td>
            <td class="e0" id="c67"><input class="d0" size="2" autocomplete="off" name="byzwy78" maxlength="1" onblur="j8(this)" id="f67"></td>
            <td class="c0" id="c77"><input class="s0" size="2" autocomplete="off" name="sbyzwy88" readonly="" value="1" id="f77"></td>
            <td class="c0" id="c87"><input class="d0" size="2" autocomplete="off" name="byzwy98" maxlength="1" onblur="j8(this)" id="f87"></td>
        </tr>
        <tr>
            <td class="i0" id="c08"><input class="s0" size="2" autocomplete="off" name="sbyzwy19" readonly="" value="4" id="f08"></td>
            <td class="h0" id="c18"><input class="s0" size="2" autocomplete="off" name="sbyzwy29" readonly="" value="1" id="f18"></td>
            <td class="h0" id="c28"><input class="s0" size="2" autocomplete="off" name="sbyzwy39" readonly="" value="5" id="f28"></td>
            <td class="i0" id="c38"><input class="s0" size="2" autocomplete="off" name="sbyzwy49" readonly="" value="9" id="f38"></td>
            <td class="h0" id="c48"><input class="s0" size="2" autocomplete="off" name="sbyzwy59" readonly="" value="6" id="f48"></td>
            <td class="h0" id="c58"><input class="d0" size="2" autocomplete="off" name="byzwy69" maxlength="1" onblur="j8(this)" id="f58"></td>
            <td class="i0" id="c68"><input class="s0" size="2" autocomplete="off" name="sbyzwy79" readonly="" value="8" id="f68"></td>
            <td class="h0" id="c78"><input class="s0" size="2" autocomplete="off" name="sbyzwy89" readonly="" value="7" id="f78"></td>
            <td class="h0" id="c88"><input class="d0" size="2" autocomplete="off" name="byzwy99" maxlength="1" onblur="j8(this)" id="f88"></td>
        </tr>
    </tbody>
</table>